<section class="success">
    <div class="fluid-container hero-banner">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h3 class="text-center">Accomplishments: 2014-2018</h3>
                <hr class="cert-light">
                <ul>
                    <li>Zone land for 20 affordable housing units</li>
                    <li>Make secondary suites legal</li>
                    <li>Increase cottage size to 860 sq. ft.</li>
                    <li>Create zoning for Millard Learning Centre</li>
                    <li>Re-zone Finlayson Lake to Nature Preserve</li>
                    <li>Finalize the new Sturdies Bay parking</li>
                    <li>Legislate a sustainable forestry covenant for DL 79</li>
                    <li>Put a moratorium on commercial STVRs</li>
                    <li>Host ground water workshop</li>
                    <li>Approve Sunshine Bakery permit for relocation</li>
                    <li>Bring Mignault and Stevens zoning into compliance</li>
                    <li>Adopt cell phone tower infrastructure guidelines</li>
                    <li>Complete Galiano foreshore protection with the Penalakut band (ongoing)</li>
                    <li>Change Woodstone zoning to visitor accommodation</li>
                    <li>Host First Nations land claims information public meeting</li>
                </ul>
            </div>
        </div>
    </div>
</section>