<section class="success" id="housing">
        <div class="fluid-container hero-banner">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h3 class="text-center">Affordable Housing: George's 10 Years</h3>
                    <hr class="cert-light">
                    <ul class="list-unstyled">
                            <li><strong>OCT, 2008:</strong> George joins the board of affordable housing society</li>
                            <li><strong>JULY, 2012:</strong> Galiano Green bylaws receive 1 st reading of Bylaws 233 and 234</li>
                            <li><strong>SEPT, 2014:</strong> Bylaws receive 2 nd reading</li>
                            <li><strong>OCT, 2014:</strong> After 6 years and expenditures of $161,000 on studies, consultants, engineers, lawyers and fees, a request for a Public Hearing was denied</li>
                            <li><strong>OCT, 2014:</strong> In protest George steps down from the Board and declares his intention to run on a platform to bring the Galiano Green application to a Public Hearing</li>
                            <li><strong>NOV, 2014:</strong> George wins the election and immediately begins work with staff and Trustees to move the application forward</li>
                            <li><strong>OCT, 2016:</strong> Public Hearing held</li>
                            <li><strong>NOV, 2016:</strong> Bylaws read a 3 rd time.</li>
                            <li><strong>JAN, 2017:</strong> Approved by the Executive Committee of the Islands Trust to allow 20 densities of affordable housing at Galiano Green</li>
                            <li><strong>APR, 2017:</strong> Approved by the Minister of Community, Sport and Cultural Development</li>
                            <li><strong>JUL, 2017:</strong> LTC Adopts bylaws 233 and 234</li>
                            <li><strong>OCT, 2018:</strong> DPA 1 – Riparian Areas &amp; DPA 5 – Sensitive Ecosystem approved, the final conditions to complete the 10 year saga to bring the first affordable housing project to fruition since 1975.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>