<section class="success">
    <div class="fluid-container hero-banner">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h3 class="text-center">Letters to George</h3>
                <hr class="cert-light">
                <blockquote><em>George,<br/><br/>
                I am not sure if you are going to run for the Trust
                again. I would be happy if you did as you bring a
                level of civility that has been sorely missed in
                those meetings. You stand up for what is good for
                the island both human and non-human in a way
                that empowers everyone in the room.<br/>
                We have been lucky to have you these years and
                I understand entirely if that was enough.<br/><br/>
                Best to you in either of your choices,<br/></em>
                Janice Oakley
            </blockquote>
            </div>
        </div>
    </div>
</section>